@using Umbraco.Cms.Core
@using Umb9.Core.UmbracoModels
@using Umbraco.Extensions

@inject IPublishedContentQuery _publishedContentQuery

<header>
    <div class="relative bg-white">
        <div class="flex justify-between items-center max-w-7xl mx-auto px-4 py-6 sm:px-6 md:space-x-10 lg:px-8">
            <div class="flex justify-start lg:w-0 lg:flex-1">
                <a href="/">
                    <span class="sr-only">@Website.WebsiteName</span>
                    <img class="h-8 w-auto sm:h-10" src="@Website.WebsiteLogo.MediaUrl()" alt="@Website.WebsiteName">
                </a>
            </div>
            <div class="-mr-2 -my-2 md:hidden">
                <button @onclick="OpenCloseNav" type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false">
                    <span class="sr-only">Open menu</span>
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>
            </div>
            <nav class="hidden md:flex space-x-10">
                @foreach (var navItem in Website.HeaderNavigation)
                {
                    <a href="@navItem.Url" class="text-base font-medium text-gray-500 hover:text-gray-900">
                        @navItem.Name
                    </a>
                }
            </nav>
        </div>

        <div class="@(NavIsOpen ? "" : "hidden") absolute z-30 top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden">
            <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50">
                <div class="pt-5 pb-6 px-5">
                    <div class="flex items-center justify-between">
                        <div>
                            <img class="h-8 w-auto" src="@Website.WebsiteLogo.MediaUrl()" alt="@Website.WebsiteName">
                        </div>
                        <div class="-mr-2">
                            <button @onclick="OpenCloseNav" type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                                <span class="sr-only">Close menu</span>
                                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="py-6 px-5">
                    <div class="grid gap-4">
                        @foreach (var navItem in Website.HeaderNavigation)
                        {
                            <a href="@navItem.Url" class="text-base font-medium text-gray-900 hover:text-gray-700">
                                @navItem.Name
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

@code {
    [Parameter]
    public int RootId { get; set; }

    public Website Website { get; set; }

    public bool NavIsOpen { get; set; } = false;

    protected override void OnInitialized()
    {
        Website = _publishedContentQuery.Content(RootId) as Website;
    }

    private void OpenCloseNav()
    {
        if (NavIsOpen)
        {
            NavIsOpen = false;
        }
        else
        {
            NavIsOpen = true;
        }
    }
}
