@model Umbraco.Cms.Core.Models.Blocks.BlockListItem
@{
    var content = Model.Content as Umb9.Core.UmbracoModels.CallToActionBlock;
    //var settings = (ContentModels.BlockListBlockSettings)Model.Settings;
}

<div class="bg-indigo-700">
    <div class="max-w-2xl mx-auto text-center py-16 px-4 sm:py-20 sm:px-6 lg:px-8">
        <h2 class="text-3xl font-extrabold text-white sm:text-4xl">
            @if (!content.HeadingLineOne.IsNullOrWhiteSpace())
            {
                <span class="block">@content.HeadingLineOne</span>
            }

            @if (!content.HeadingLineTwo.IsNullOrWhiteSpace())
            {
                <span class="block">@content.HeadingLineTwo</span>
            }
        </h2>
        <div class="mt-4 text-lg prose max-w-prose text-indigo-200">
            @Html.Raw(content.BodyText)
        </div>

        @if (content.ActionButtons.Any())
        {
            <div class="sm:space-x-2">
                @foreach (var btn in content.ActionButtons)
                {
                    <a href="@btn.Url" class="mt-8 w-full inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-indigo-600 bg-white hover:bg-indigo-50 sm:w-auto">
                        @btn.Name
                    </a>
                }
            </div>
        }
    </div>
</div>