@using Umb9.Core.Shared.Services
@using Umb9.Core.UmbracoModels

@inject CacheService _cacheService

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
    var rootId = _cacheService.CachedRootContentId(Model);
    var website = Umbraco.Content(rootId) as Website;
}

<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @await Html.PartialAsync("/Views/Partials/seo.cshtml")
    <link href="~/css/styles.css" rel="stylesheet" />
    @RenderSection("Header", required: false)
</head>

<body>
    <div class="min-h-screen bg-white">

        @(await Html.RenderComponentAsync<Umb9.Site.Components.Header>(RenderMode.ServerPrerendered, new { RootId = rootId }))

        <main>
            @RenderBody()
        </main>

        <footer class="bg-gray-800" aria-labelledby="footer-heading">
            <h2 id="footer-heading" class="sr-only">Footer</h2>
            <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
                <div class="flex space-x-6">
                    @foreach (var link in website.FooterNavigation)
                    {
                        <a class="text-gray-400 font-semibold" href="@link.Url">@link.Name</a>
                    }
                </div>
                <div class="mt-8 border-t border-gray-700 pt-8 md:flex md:items-center md:justify-between">
                    <p class="mt-8 text-base text-gray-400 md:mt-0 md:order-1">
                        &copy; @DateTime.Now.Year @website.WebsiteName
                    </p>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/_framework/blazor.server.js"></script>
</body>
</html>