@model Umb9.Core.Shared.Models.BlockListViewModel
@{
    var content = Model.BlockListItem.Content as Umb9.Core.UmbracoModels.FeatureBlock;
    var settings = Model.BlockListItem.Settings as Umb9.Core.UmbracoModels.FeatureBlockSettings;
    var gridColumns = settings?.GridColumns > 0 ? settings.GridColumns : 3;
}
<div class="@(settings.PaddingTop.IsNullOrWhiteSpace() ? "" : $"pt-{settings.PaddingTop} ")@(settings.PaddingBottom.IsNullOrWhiteSpace() ? "" : $"pb-{settings.PaddingBottom}")">
    <div class="relative bg-white py-16 sm:py-24 lg:py-24">
        <div class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl">
            @if (!content.FeatureName.IsNullOrWhiteSpace())
            {
                <p class="text-base font-semibold tracking-wider text-indigo-600 uppercase">@content.FeatureName</p>
            }
            @if (!content.Heading.IsNullOrWhiteSpace())
            {
                HeadingTypes("mt-2 text-3xl font-extrabold text-gray-900 tracking-tight sm:text-4xl");
            }
            @if (content.OpeningParagraph != null)
            {
                <div class="mt-5 prose max-w-prose mx-auto text-xl text-gray-500">
                    @Html.Raw(content.OpeningParagraph)
                </div>
            }
            <div class="mt-12">
                <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-@gridColumns">
                    @(await Html.PartialAsync("_BlockListComponents", (content.FeatureBoxes, Model.WebsiteId)))
                </div>
            </div>
        </div>
    </div>
</div>

@{
    void HeadingTypes(string cssClasses)
    {
        @switch (settings.HeadingType)
        {
            case "H1":
                <h1 class="@cssClasses">@content.Heading</h1>
                break;

            case "H2":
                <h2 class="@cssClasses">@content.Heading</h2>
                break;

            case "H4":
                <h4 class="@cssClasses">@content.Heading</h4>
                break;

            case "H5":
                <h5 class="@cssClasses">@content.Heading</h5>
                break;

            case "H6":
                <h6 class="@cssClasses">@content.Heading</h6>
                break;

            default:
                <h3 class="@cssClasses">@content.Heading</h3>
                break;
        }
    }
}