@using Umb9.Core.Forms.Models 
@model Umbraco.Cms.Core.Models.Blocks.BlockListItem
@{
    var content = Model.Content as Umb9.Core.UmbracoModels.ContactFormBlock;
    var settings = Model.Settings as Umb9.Core.UmbracoModels.ContactFormSettings;
}
<div class="@(settings.PaddingTop.IsNullOrWhiteSpace() ? "" : $"pt-{settings.PaddingTop} ")@(settings.PaddingBottom.IsNullOrWhiteSpace() ? "" : $"pb-{settings.PaddingBottom}")">

    <div class="bg-white py-16 px-4 overflow-hidden sm:px-6 lg:px-8 lg:py-24">
        <div class="relative max-w-xl mx-auto">
            <svg class="absolute left-full transform translate-x-1/2" width="404" height="404" fill="none" viewBox="0 0 404 404" aria-hidden="true">
                <defs>
                    <pattern id="85737c0e-0916-41d7-917f-596dc7edfa27" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                        <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                    </pattern>
                </defs>
                <rect width="404" height="404" fill="url(#85737c0e-0916-41d7-917f-596dc7edfa27)" />
            </svg>
            <svg class="absolute right-full bottom-0 transform -translate-x-1/2" width="404" height="404" fill="none" viewBox="0 0 404 404" aria-hidden="true">
                <defs>
                    <pattern id="85737c0e-0916-41d7-917f-596dc7edfa27" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                        <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                    </pattern>
                </defs>
                <rect width="404" height="404" fill="url(#85737c0e-0916-41d7-917f-596dc7edfa27)" />
            </svg>
            <div class="text-center">
                @{ HeadingTypes("text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl"); }
                <div class="mt-4 text-lg leading-6 text-gray-500">
                    @Html.Raw(content.Text)
                </div>
            </div>
            <div class="mt-12">
                @*@await Html.PartialAsync("/Views/Partials/_ContactForm.cshtml", new ContactFormViewModel())*@
                @(await Html.RenderComponentAsync<Umb9.Site.Components.ContactForm>(RenderMode.ServerPrerendered))
            </div>
        </div>
    </div>

</div>


@{
    void HeadingTypes(string cssClasses)
    {
        @switch (settings.HeadingType)
        {
            case "H1":
                <h1 class="@cssClasses">@content.Heading</h1>
                break;

            case "H2":
                <h2 class="@cssClasses">@content.Heading</h2>
                break;

            case "H4":
                <h4 class="@cssClasses">@content.Heading</h4>
                break;

            case "H5":
                <h5 class="@cssClasses">@content.Heading</h5>
                break;

            case "H6":
                <h6 class="@cssClasses">@content.Heading</h6>
                break;

            default:
                <h3 class="@cssClasses">@content.Heading</h3>
                break;
        }
    }
}