@model Umb9.Core.Shared.Models.BlockListViewModel
@{
    var content = Model.BlockListItem.Content as Umb9.Core.UmbracoModels.ArticleBlock;
    var settings = Model.BlockListItem.Settings as Umb9.Core.UmbracoModels.ArticleSettings;
}
<div class="relative bg-white overflow-hidden @(settings.PaddingTop.IsNullOrWhiteSpace() ? "pt-16 " : $"pt-{settings.PaddingTop} ")@(settings.PaddingBottom.IsNullOrWhiteSpace() ? "pb-16" : $"pb-{settings.PaddingBottom}")">
    @if (!settings.RemoveBackgroundPattern)
    {
        <div class="hidden lg:block lg:absolute lg:inset-y-0 lg:h-full lg:w-full">
            <div class="relative h-full text-lg max-w-prose mx-auto" aria-hidden="true">
                <svg class="absolute top-12 left-full transform translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
                    <defs>
                        <pattern id="74b3fd99-0a6f-4271-bef2-e80eeafdf357" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                        </pattern>
                    </defs>
                    <rect width="404" height="384" fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)" />
                </svg>
                <svg class="absolute top-1/2 right-full transform -translate-y-1/2 -translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
                    <defs>
                        <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                        </pattern>
                    </defs>
                    <rect width="404" height="384" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)" />
                </svg>
                <svg class="absolute bottom-12 left-full transform translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
                    <defs>
                        <pattern id="d3eb07ae-5182-43e6-857d-35c643af9034" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                        </pattern>
                    </defs>
                    <rect width="404" height="384" fill="url(#d3eb07ae-5182-43e6-857d-35c643af9034)" />
                </svg>
            </div>
        </div>
    }
    <div class="relative px-4 sm:px-6 lg:px-8">
        <div class="text-lg max-w-prose mx-auto">
            @{HeadingTypes(string.Empty);}
            @if (!content.OpeningParagraph.IsNullOrWhiteSpace())
            {
                <p class="mt-8 text-xl text-gray-500 leading-8">
                    @content.OpeningParagraph
                </p>
            }
        </div>
        <div class="mt-6 prose prose-indigo prose-lg text-gray-500 mx-auto">
            @Html.Raw(content.Text)
        </div>
    </div>
</div>


@{
    void HeadingTypes(string cssClasses)
    {
        @switch (settings.HeadingType)
        {
            case "H1":
                <h1 class="@cssClasses">@{HeadingContent();}</h1>
                break;

            case "H2":
                <h2 class="@cssClasses">@{HeadingContent();}</h2>
                break;

            case "H4":
                <h4 class="@cssClasses">@{HeadingContent();}</h4>
                break;

            case "H5":
                <h5 class="@cssClasses">@{HeadingContent();}</h5>
                break;

            case "H6":
                <h6 class="@cssClasses">@{HeadingContent();}</h6>
                break;

            default:
                <h3 class="@cssClasses">@{HeadingContent();}</h3>
                break;
        }
    }

    void HeadingContent()
    {
        @if (!content.BlockName.IsNullOrWhiteSpace())
        {
            <span class="block text-base text-center text-indigo-600 font-semibold tracking-wide uppercase">@content.BlockName</span>
        }
        <span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">@content.Heading</span>
    }
}