@model Umbraco.Cms.Core.Models.Blocks.BlockListItem
@{
    var content = Model.Content as Umb9.Core.UmbracoModels.HeroBlock;
    //var settings = (ContentModels.BlockListBlockSettings)Model.Settings;
}

<div class="relative pb-12">
    <div class="absolute inset-x-0 bottom-0 h-1/2 bg-gray-100"></div>
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="relative shadow-xl sm:rounded-2xl sm:overflow-hidden">
            <div class="absolute inset-0">
                <img class="h-full w-full object-cover" src="@content.BackgroundImage.MediaUrl()?width=1216" alt="@content.BackgroundImage.Name">
                <div class="absolute inset-0 bg-indigo-700 mix-blend-multiply"></div>
            </div>
            <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
                <h1 class="text-center text-4xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl">
                    @if (!content.HeadingLineOne.IsNullOrWhiteSpace())
                    {
                        <span class="block text-white">@content.HeadingLineOne</span>
                    }

                    @if (!content.HeadingLineTwo.IsNullOrWhiteSpace())
                    {
                        <span class="block text-indigo-200">@content.HeadingLineTwo</span>
                    }
                </h1>
               
                <div class="mt-6 prose prose-purple max-w-prose text-indigo-200 mx-auto text-center text-xl sm:max-w-3xl">
                    @Html.Raw(content.BodyText)
                </div>

                @if (content.ActionButtons.Any())
                {
                    <div class="mt-10 max-w-sm mx-auto sm:max-w-none sm:flex sm:justify-center">
                        <div class="space-y-4 sm:space-y-0 sm:mx-auto sm:inline-grid sm:grid-cols-2 sm:gap-5">
                            @foreach (var btn in content.ActionButtons)
                            {
                                <a href="@btn.Url" class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-indigo-700 bg-white hover:bg-indigo-50 sm:px-8">
                                    @btn.Name
                                </a>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>